doctype html
html
    body
        h1.title Presupuesto para #{user.firstname} #{user.lastname}

        h3.tile-userinfo Datos de la persona solicitante del presupuesto
        table
            tbody
                tr
                    td Nombres
                    td #{user.firstname}
                tr
                    td Apellido
                    td #{user.lastname}
                tr
                    td Cedula
                    td #{user.identification}
                tr
                    td Correo
                    td #{user.email}

        br

        h3 Lista de compra

        table
            tbody
                each product in products
                    tr
                        td Producto
                        td= product.productName
