doctype html
html
    body
        h1 Datos del emisor del mensaje

        table
            tr
                td Nombre
                td #{name}
            tr
                td Telefono
                td #{phone}
            tr
                td Correo
                td #{email}
            if identification
                tr
                    td Cedula of RIF
                    td #{identification}

        br

        h1 Mensaje
        p #{message}
